* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: Arial, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreBox {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

#board {
    background: linear-gradient(rgb(173, 234, 173), rgb(196, 196, 128));
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    position: relative;
}

.head {
    background: rgb(204, 57, 17);
    border: 2px solid rgb(8, 6, 8);
    width: 100%;
    height: 100%;
    animation: pulse 0.5s infinite;
}

.snake {
    background-color: rgb(163, 42, 165);
    border: 0.25vmin solid white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

.food {
    background: linear-gradient(red, purple);
    border: 2px solid rgb(8, 6, 8);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: grow 0.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
